{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "~/scripts/react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  },
  "plugins": [
    "babel-root-import"
  ]
}
